<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" 
	xmlns="http://java.sun.com/xml/ns/javaee" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>
	
	<error-page>
		<!--错误一 -->
		<error-code>500</error-code>
		<location>/error.html</location>
	</error-page>
	<error-page>
		<!--错误二 -->
		<exception-type>javax.servlet.ServletException</exception-type>
		<location>/error.html</location>
	</error-page>
	<error-page>
		<!--错误三 -->
		<error-code>404</error-code>
		<location>/error.html</location>
	</error-page>
	
	<!-- 调整总逻辑 -->
	<servlet>
		<servlet-name>URI</servlet-name>
		<servlet-class>web.ActionServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>URI</servlet-name>
		<!-- 这不能写/*.do否则会报错 -->
		<url-pattern>*.do</url-pattern>
	</servlet-mapping>
</web-app>
